* {
  font-family: "Raleway", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  height: 50px;
  background-color: black;
  align-items: center;
  z-index: 2;
  height: 8vh;
  color: white;
  font-weight: bold;
}

.main-nav__logo {
  flex: 1;
  padding-left: 50px;
}

.main-nav__logo span {
  color: #328cc1;
  font-size: x-large;
}

.main-nav__ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.main-nav__ul li {
  
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

.main-header {
  height: 92vh;
  display: flex;
  z-index: 1;
  background-color: black;
}


.main-header__left-section {
  background-color: #328cc1;
  flex: 3.5;
  transform: skewX(11deg);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main-header__left-section__article {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  color: white;
}

.main-header__left-section__article span {
  width: 100%;
  padding-left: 10%;
  font-size: 600%;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: Times, serif;
}

.main-header__left-section__article span:first-of-type {
  padding-left: 0%;
  font-size: 200%;
  letter-spacing: normal;
  font-family: "Raleway", Times, serif;
}

.main-header__left-section__article span:last-of-type {
  padding-left: 23%;
  font-size: 220%;
  letter-spacing: normal;
  font-family: "Raleway", Times, serif;
}
.main-header__right-section {
  flex: 1;
  position: relative;
  
}

.main-header__right-section img {
  
  margin-left: 10%;
  position: absolute;
  top: 17%;
  left: -42%;
  height: 60vh;
  border-radius: 0 14%;
}

  
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.container {
  display: flex;
  width: 80vw;
  
}

.about-me__image {
  width: 50%;
  flex: 0.7;
}

.about-me__image img {
  width: 100%;
  
}

.about-me__info {
  width: 50%;
  flex: 1;
  line-height: 1.9;
  margin-left: 50px;
}

.about-me__info h2 {
  margin-bottom: 25px;
}

.about-me__info p {
  margin-bottom: 20px;
  text-align: justify;
}

.about-me__info__hobbies {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.about-me__info__hobbies__content {
  width: 50%;
  display: flex;
}
.left-content {
  padding-right: 25px;
}

.right-content {
  padding-left: 25px;
}

.about-me__info__hobbies__content__icon {
  width: 20%;
}

.about-me__info__hobbies__content__icon i {
  color: #328cc1;
}



.about-me__info__hobbies__content__icon i {
  font-size: 40px;
}


.about-me__info__hobbies__content__text {
  width: 80%;
}

.about-me__info__hobbies__content__text h3 {
  margin-bottom: 20px;
}

.my-skills {
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
  padding: 60px 0;
}

.my-skills__skills {
  flex: 1;
  padding-right: 25px;
  line-height: 1.6;
  padding-top: 25px;
}

.my-skills__skills h2{
  margin:0 0 25px 0 ;
}

.my-skills__skills p{
  text-align: justify;
}



.my-skills__skills button{
  background: none;
  border: 3px solid #328cc1;
  padding: 10px 30px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}



.my-skills__progress{
  flex: 1;
  padding: 25px;
  padding-left: 25px;
  padding-top: 25px;
  display: flex;
    flex-wrap: wrap;
}

.my-skills__progress__technique {
  width: 100%;
}

.my-skills__progress__technique  h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-skills__progress__technique  progress{
  margin-bottom: 10px;
}

progress {
  height: 1.5rem;
  width: 100%;
}

progress::-webkit-progress-value { background: #328cc1;}
progress::-webkit-progress-bar {background-color: #fff;}

progress {background-color: #328cc1;}
progress::-moz-progress-bar {background-color: #000;}

progress {color: #328cc1;}

.resume {
  display: flex;
  justify-content: center;
  padding-top: 85px;
  padding-bottom: 85px;
}

.resume h2 {
  margin-bottom: 25px;
}

.resume p {
  text-align: center;
  margin-bottom: 5px;
}

.resume button {
  background: none;
  border: 3px solid #328cc1;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}


.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials {
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
  padding: 85px 0;
}

.testimonials q {
  width: 100%;
  line-height: 1.7;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}
